{% extends "layout.html" %}

{% block body %}

<div class="main-table">

    {% if not userItems == None %}
    <h5>User items</h5>
    <div class="table-scroll-y table-scrollable tableFixHead">
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <th>Item</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Weight</th>
                <th>Volume</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </thead>
            {% for item in userItems %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.weight }}g</td>
                <td>{{ item.volume }}l</td>
                <td>{{ item.description }}</td>
                <td align="center">
                    <div class="btn-group" role="group">
                        <form method="GET" action="{{ url_for('item_edit', item_id=item.id) }}">
                            <input type="submit" value="Edit" class="btn btn-sm btn-outline-info" />
                        </form>
                        <form method="POST" action="{{ url_for('item_rm', item_id=item.id) }}">
                                <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger ml-2" />
                            </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <br>
    {% endif %}

    <h5>All items</h5>
    <div class="table-scroll-y table-scrollable tableFixHead">
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <th>Item</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Weight</th>
                <th>Volume</th>
                <th>Description</th>
                {% if current_user.is_authenticated %}
                    <th class="text-center">Action</th>
                    {% endif %}
            </thead>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.weight }}g</td>
                <td>{{ item.volume }}l</td>
                <td>{{ item.description }}</td>
                {% if current_user.is_authenticated %}
                <td>
                    <form method="POST" action="{{ url_for('item_copy', item_id=item.id) }}">
                        <input type="submit" value="Copy" class="btn btn-sm btn-outline-success" />
                    </form>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('item_create') }}" class="btn btn-sm btn-success">Add new item</a>
    {% endif %}
</div>
{% endblock %}