{% extends "layout.html" %}

{% block body %}

<div style="width: 700px; margin: auto">

    {% if not usrItems == None %}
    <p>User items</p>
    <table class="table table-sm table-striped">
        <thead>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </thead>
        {% for item in userItems %}
        <tbody>
            <td>{{ items.name }}</td>
            <td>{{ items.brand }}</td>
            <td>{{ items.category }}</td>
            <td>{{ items.weight }}</td>
            <td>{{ items.volume }}</td>
            <td>{{ items.description }}</td>
            <td>
                <form method="GET" action="{{ url_for('item_edit', item_id=item.id) }}">
                    <input type="submit" value="Edit" class="btn btn-sm btn-outline-info" />
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('item_rm', item_id=item.id) }}">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                </form>
            </td>
        </thead>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    
    <p>All items</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.description }}</td>
            <td>
                <form method="GET" action="{{ url_for('item_edit', item_id=item.id) }}">
                    <input type="submit" value="Add to my items" class="btn btn-sm btn-outline-success" {% if not current_user.is_authenticated %} disabled {% endif %} />
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}