.main-form {
    width: 500px;
    margin: auto;
}

.main-table {
    width: 700px; 
    margin: auto;
}

.table-scrollable {
    position: relative;
    max-height: 350px;
    overflow: auto;
}

.table-scroll-y {
    display: block;
}

.tableFixHead thead th { 
    position: 
    sticky; top: 0; 
}

.btn-transparent {

    background: transparent;
    border: none !important;
}​