{% extends "layout.html" %}

{% block body %}

<div style="width: 700px; margin: auto">

    
    <p>Users</p>
    <table class="table table-sm table-striped ">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>email</th>
            <th class="text-center">Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td align="center">
                <form method="POST" action="{{ url_for('remove_user',user_id=user.id) }}">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}