{% extends "layout.html" %}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('auth_login') }}">
    <div>
        {{ form.email.label }}
        {{ form.email }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>
    <div>
    <input type="submit" value="Login"/>
</div>
</form>
<p>Or crate a new account</p>
<form method="GET" action="{{ url_for('register_user') }}">
    <input type="submit" value="Create new account"/>
</form>

{% endblock %}