{% extends "layout.html" %}

{% block body %}

<form method="POST" class="main-form" action="{{ url_for('auth_login') }}">
    <div>
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
</form>
<div>
    <form method="GET" class="main-form" action="{{ url_for('register_user') }}">
    <p>Or you can</p>
    <input type="submit" value="Create a new account" class="btn btn-outline-info" />
    </form>
</div>    

{% endblock %}