{% extends "layout.html" %}

{% block body %}

<div class="main-table">

    {% if not userLists == None %}
    <h5>User gearlists</h5>
    <div class="table-scroll-y table-scrollable">
        <table class="table table-sm table-striped">
            <thead>
                <th>Name</th>
                <th>Desciption</th>
                <th>Weight</th>
                <th>Volume</th>
                <th class="text-center">Action</th>
            </thead>
            {% for list in userLists %}
            <tr>
                <td> <a href="{{ url_for('view_list',list_id=list.list_id) }}"> {{ list.name }} </a> </td>
                <td><span class="d-inline-block text-truncate" style="max-width: 250px;">{{ list.description }}</span>
                </td>
                <td>{{ list.weight }}</td>
                <td>{{ list.volume }}</td>
                <td align="center">
                    <div class="btn-group" role="group">
                        <form method="GET" action="{{ url_for('modify_list',list_id=list.list_id) }}">
                            <input type="submit" value="Edit" class="btn btn-sm btn-outline-info" />
                        </form>
                        <form method="POST" action="{{ url_for('delete_list',list_id=list.list_id) }}">
                            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger ml-4" />
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    {% endif %}

    <h5>All gearlists</h5>
    <div class="table-scroll-y table-scrollable">
        <table class="table table-sm table-fixed table-striped">
            <thead>
                <th>Name</th>
                <th>Desciption</th>
                <th>Created by</th>
                <th>Weight</th>
                <th>Volume</th>
            </thead>
            {% for list in allLists %}
            <tr>
                <td> <a href="{{ url_for('view_list',list_id=list.list_id) }}"> {{ list.name }} </a> </td>
                <td><span class="d-inline-block text-truncate" style="max-width: 250px;">{{ list.description }}</span>
                </td>
                <td>{{ list.username }}</td>
                <td>{{ list.weight }}</td>
                <td>{{ list.volume }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('list_create') }}" class="btn btn-sm btn-success">Create new gearlist</a>
    {% endif %}
</div>
{% endblock %}