{% extends "layout.html" %}

{% block body %}

<div style="width: 700px; margin: auto">

        {% if not userLists == None %}
        <h5>User gearlists</h5>
        <table class="table table-sm table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Desciption</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            {% for list in userLists %}
            <tr>
                <td> <a href="{{ url_for('view_list',list_id=list.list_id) }}"> {{ list.name }} </a> </td>
                <td>{{ list.description }}</td>
                <td>{{ list.weight }}</td>
                <td>{{ list.volume }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <hr>
        {% endif %}
        
        <h5>All gearlists</h5>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Desciption</th>
            <th>Created by</th>
            <th>Weight</th>
            <th>Volume</th>
        </tr>
        {% for list in allLists %}
        <tr>
            <td> <a href="{{ url_for('view_list',list_id=list.list_id) }}"> {{ list.name }} </a> </td>
            <td><span class="d-inline-block text-truncate" style="max-width: 250px;">{{ list.description }}</span></td>
            <td>{{ list.username }}</td>
            <td>{{ list.weight }}</td>
            <td>{{ list.volume }}</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}