{% extends "layout.html" %}

{% block body %}

<div class="wide-form">
    <h3>Edit gearlist</h3>

    <table class="table table-sm table-striped">
        <tr>
            <th>Gearlist weight</th>
            <th>Gearlist volume</th>
            <th>Number of items</th>
        </tr>
        <tr>
            <td>{{ gearlist.weight() }}g</td>
            <td>{{ gearlist.volume() }}l</td>
            <td>{{ gearlist.noItems() }}</td>
        </tr>
    </table>
    <hr>
    <p>Gearlist items:</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.weight }}g</td>
            <td>{{ item.volume }}l</td>
            <td>{{ item.description }}</td>
            <td>
                <form method="POST" action="{{ url_for('rmItem_list',list_id=gearlist.id, item_id=item.id) }}">
                    <input type="submit" value="Remove" class="btn btn-sm btn-outline-danger" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>Available items:</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for item in availableItems %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.weight }}g</td>
            <td>{{ item.volume }}l</td>
            <td>{{ item.description }}</td>
            <td>
                <form method="POST" action="{{ url_for('additem_list',list_id=gearlist.id, item_id=item.id) }}">
                    <input type="submit" value="Add" class="btn btn-sm btn-outline-info" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>

    <form method="POST" action="{{ url_for('update_list',list_id=gearlist.id) }}">
        <div>
            {{ form.name.label }}
            {{ form.name (class="form-control")}}
            <div>
                <ul> {% for error in form.name.errors %} <li class="text-danger"> <small>{{ error }}</small></li> {% endfor %} </ul>
            </div>
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description (class="form-control")}}
        </div>
        <div>
            <ul> {% for error in form.description.errors %} <li class="text-danger"> <small>{{ error }}</small></li> {% endfor %} </ul>
        </div>
        <p></p>
        <input type="submit" value="Update name and description" class="btn btn-outline-success" />
    </form>

    <br>

</div>
{% endblock %}