{% extends "layout.html" %}

{% block body %}

<div style="width: 700px; margin: auto">
    <h3>Edit gearlist</h3>

    

    <table class="table table-sm table-striped">
        <tr>
            <th>Gearlist weight</th>
            <th>Gearlist volume</th>
            <th>Number of items</th>
        </tr>
        <tr>
            <td>{{ gearlist.weight() }}g.</td>
            <td>{{ gearlist.volume() }}l.</td>
            <td>{{ gearlist.noItems() }}</td>
        </tr>
    </table>
    <hr>
    <p>Gearlist items:</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.description }}</td>
            <td>
                <form method="POST" action="{{ url_for('rmItem_list',list_id=gearlist.id, item_id=item.id) }}">
                    <input type="submit" value="Remove" class="btn btn-sm btn-outline-danger" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>Available items:</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Item</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for item in availableItems %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.description }}</td>
            <td>
                <form method="POST" action="{{ url_for('additem_list',list_id=gearlist.id, item_id=item.id) }}">
                    <input type="submit" value="Add" class="btn btn-sm btn-outline-info" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <div style="width: 700px; margin: auto">
            <form method="POST" action="{{ url_for('modify_list',list_id=gearlist.id) }}">
                <div>
                    {{ form.name.label }}
                    {{ form.name (class="form-control")}}
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    {{ form.description.label }}
                    {{ form.description (class="form-control")}}
                </div>
                <p></p>
                <input type="submit" value="Update name and description" class="btn btn-outline-success" />
            </form>
        </div>
        <br>

</div>
{% endblock %}