{% extends "layout.html" %}

{% block body %}

<div style="width: 700px; margin: auto">

    {% if not usrArticles == None %}
    <p>User items</p>
    <table class="table table-sm table-striped">
        <thead>
            <th>Article</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </thead>
        {% for article in usrArticles %}
        <tbody>
            <td>{{ article.name }}</td>
            <td>{{ article.brand }}</td>
            <td>{{ article.category }}</td>
            <td>{{ article.weight }}</td>
            <td>{{ article.volume }}</td>
            <td>{{ article.description }}</td>
            <td>
                <form method="GET" action="{{ url_for('article_edit', article_id=article.id) }}">
                    <input type="submit" value="Edit" class="btn btn-sm btn-outline-info" />
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('article_rm', article_id=article.id) }}">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
                </form>
            </td>
        </thead>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    
    <p>All items</p>
    <table class="table table-sm table-striped">
        <tr>
            <th>Article</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Volume</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{ article.name }}</td>
            <td>{{ article.brand }}</td>
            <td>{{ article.category }}</td>
            <td>{{ article.weight }}</td>
            <td>{{ article.volume }}</td>
            <td>{{ article.description }}</td>
            <td>
                <form method="GET" action="{{ url_for('article_edit', article_id=article.id) }}">
                    <input type="submit" value="Add to my items" class="btn btn-sm btn-outline-success" {% if not current_user.is_authenticated %} disabled {% endif %} />
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}